<center>
  for further any enquiry <br>
  <h2>contact us</h2>
   mr. Manish jain <br>
   c58a, bhartendu chowck <br>
   ambabari, jaipur-302010 <br>
   ph# 9782649965 <br>
   email-id : depotshopping2012@gmail.com
</center>